body {
  font-family: Helvetica;
  text-align: center;
  color: White;
}

.header, #subheader {
  background-image: url("file://C:/projects/Broadway/resources/images/the-flatiron-building.png");
}

#nav {
  color: White;
}

.footer {
  color: White;
  font-size: 11px;
  background-color: dimgray;
  text-align: left;
}

.process {
  color: black;
}

h2, h3 {
  font-weight: bold;
}

h2 {
  font-size: 23px;
}

h3 {
  font-size: 32px;
}

p {
  font-size: 14px;
}
